function Map.new 1
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push this 0
push this 1
call Math.multiply 2
call Array.new 1
pop this 2
push constant 0
pop local 0
push pointer 0
return
function Map.setWall 0
push argument 0
pop pointer 0
push argument 2
push this 0
call Math.multiply 2
push argument 1
add
push this 2
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Map.setEmpty 0
push argument 0
pop pointer 0
push argument 2
push this 0
call Math.multiply 2
push argument 1
add
push this 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Map.isWall 0
push argument 0
pop pointer 0
push argument 2
push this 0
call Math.multiply 2
push argument 1
add
push this 2
add
pop pointer 1
push that 0
return
function Map.height 0
push argument 0
pop pointer 0
push this 1
return
function Map.width 0
push argument 0
pop pointer 0
push this 0
return
function Map.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Map.draw 5
push argument 0
pop pointer 0
push this 0
push argument 4
call Math.multiply 2
push argument 2
add
pop local 3
push this 1
push argument 4
call Math.multiply 2
push argument 3
add
pop local 4
push argument 1
call Screen.setColor 1
pop temp 0
push argument 3
pop local 1
label WHILE_EXP0
push local 1
push local 4
lt
not
if-goto WHILE_END0
push argument 2
pop local 0
label WHILE_EXP1
push local 0
push local 3
lt
not
if-goto WHILE_END1
push local 2
push this 2
add
pop pointer 1
push that 0
push argument 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
push local 0
push argument 4
add
push constant 1
sub
push local 1
push argument 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 0
push argument 4
add
pop local 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 1
push argument 4
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
