/* layout */

:root {
    --toolbar-height: 60pt;
}

html, body {
    margin: 0;
}

.wrapper {
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 24em 1fr;
    grid-template-areas:
        "toolbar toolbar"
        "screen screen"
        "left-side left-side"
        "watches watches";
}

.code {
    justify-items: center;
    display: grid;
    grid-area: left-side;
    height: 55vh;
    width: 100%;
}

#watches {
    grid-area: watches;
    margin-top: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toolbar {
    margin-top: 5pt;
    margin-bottom: 5pt;
    grid-area: toolbar;
    display: grid;
    grid-template-areas:
        "toolbar"
        "toolbar"
        "toolbar";
}

#speed {
    display: flex;
    justify-content: center;
    align-content: center;
}

#speed>input[type=range] {
    width: 200px;
}

#control-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 5pt;
    align-items: center;
}

#upload-files {
    display: flex;
    justify-content: center;
    align-content: center;
}

.code-child:nth-child(1) {
    position: relative;
    overflow-y: scroll;
}

.screen-wrapper {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: screen;
}

/* tooltips */

.with-tooltip:hover + .tooltip {
    display: block;
}

.tooltip {
    display: none;
    color: black;
    z-index: 1000;
}

/* look and feel */

body {
  font-family: sans-serif;
}

.screen {
  width: 95%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  outline: black 3px solid;
}

.code-child {
  outline: black 3px solid;
  width: 95%;
}

.watch-block {
  width: fit-content;
}

.watch {
  min-width: 15em;
  outline: black 3px solid;
  margin: 0.5em;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 1em;
}

.watch-block > .block-label {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 1em;
  margin-left: 0.5em;
}

.watch > .watch-label {
  width: 46%;
  display: inline-block;
  box-sizing: border-box;
  border-right: black 3px solid;
  padding: 0.3em;
}

.watch > .watch-content {
  width: 54%;
  display: inline-block;
  text-align: center;
  overflow: clip;
}

.btn {
  display: inline-block;
  cursor: pointer;

  padding: 0.3em 1.2em;
  margin: 0.5em;

  border: none;
  outline: black 3px solid;
  background: white;

  color: black;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 1em;
}

.btn:disabled, .btn[disabled] {
  cursor: not-allowed;
  color: white;
  outline: white 3px solid;
  background: lightgrey;
}

td.highlight {
  color: red;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the builtin slider */
  width: 100%; /* required for Firefox. */
  background: transparent;
}

/* for chrome/safari */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px; /* this is needed in webkit for some reason */
  border-radius: 0;
  border: none;
  outline: black 3px solid;
  background-color: white;
  width: 10px;
  height: 20px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14.4px;
  cursor: pointer;
  border: black 3px solid;
  background-color: white;
}

/* for firefox */

input[type=range]::-moz-range-thumb {
  border-radius: 0;
  border: none;
  outline: black 3px solid;
  background-color: white;
  width: 10px;
  height: 20px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  border: none;
  outline: black 3px solid;
  background-color: white;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* media queries */

@media (min-width: 800px) {
    #toolbar {
        margin: 1rem 5rem 1rem 5rem;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        grid-template-areas:
            "files control-buttons speed";
    }

    /* don't center file upload */
    #upload-files {
        display: inherit;
    }

    #watches {
        flex-direction: row;
        align-items: start;
        margin-left: 10pt;
    }

    #control-buttons {
        margin-bottom: 0;
    }
}

@media (min-width: 1000px) {
    html, body {
        height: 100%;
    }

    #app {
        height: 100%;
    }

    .screen-wrapper {
        align-items: flex-start;
        width: 98%;
        height: 100%;
        outline: black 3px solid;
    }

    .screen {
      outline: none;
    }

    .code {
        width: 100%;
        height: 100%;
    }

    .wrapper {
        grid-template-rows: var(--toolbar-height) auto 1fr;
        grid-template-areas:
            "toolbar toolbar"
            "left-side screen"
            "watches watches";
    }

    /* remove the code view */
    .wrapper.running {
        grid-template-rows: var(--toolbar-height) auto;
        grid-template-areas:
            "toolbar toolbar"
            "screen screen";
    }

    .wrapper.running > .screen-wrapper {
        align-items: flex-start;
    }

    .wrapper.running > .screen-wrapper > .screen {
        width: auto;
        max-width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    .code-inner {
        position: absolute;
        white-space: nowrap;
    }

    #watches {
        margin: 0;
    }
}
